@model IEnumerable<AnliseHospitais.Models.HospitaisPorEstado>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Gráfico de Hospitais por Estado</h2>
        <div class="form-group">
            <label for="tipo-grafico">Tipo de gráfico:</label>
            <select class="form-control" id="tipo-grafico">
                <option value="bar">Barras</option>
                <option value="radar">Radar</option>
                <option value="pie">Pizza</option>                
                <option value="line">Linhas</option>  
                <option value="bubble">Scatter</option>
            </select>
        </div>
        <canvas id="myChart" width="900" height="400"></canvas>
    </div>      
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <h2>Tabela de Hospitais</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Estado
                    </th>
                    <th>
                        Quantidade de Hospitais
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantidadeDeHospitais)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var hospitaisPorEstado = JSON.parse('@Html.Raw(Json.Serialize(Model))');
        var estados = [];
        var quantidadesDeHospitais = [];

        hospitaisPorEstado.forEach(function(item) {
            estados.push(item.estado);
            quantidadesDeHospitais.push(item.quantidadeDeHospitais);
        });

        var backgroundColors = [
          '#FF6384', '#36A2EB', '#FFCE56', '#C70039', '#FF5733', '#8E44AD',
          '#FFA07A', '#006266', '#0E6251', '#1B4F72', '#0652DD', '#2E86C1',
          '#F1C40F', '#D35400', '#7D6608', '#154360', '#6C3483', '#C0392B',
          '#E74C3C', '#8E44AD', '#2980B9', '#27AE60', '#2C3E50', '#34495E',
          '#8E44AD', '#34495E', '#2E4053'
        ];

        var borderColor = backgroundColors;

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart;

        function createChart(type) {
            if (myChart) {
                myChart.destroy();
            }

            myChart = new Chart(ctx, {
                type: type,
                data: {
                    labels: estados,
                    datasets: [{
                        data: quantidadesDeHospitais,
                        backgroundColor: backgroundColors,
                        borderColor: borderColor,
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    title: {
                        display: true,
                        text: 'Grafico de Hospitais por UF'
                    },
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
                }
            });
        }

        createChart('bar');

        $('#tipo-grafico').on('change', function() {
            var tipoGrafico = $(this).val();
            createChart(tipoGrafico);
        });
    </script>
}
