@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<p>Nos envie sua sugestão:</p>

<label>Email:</label>
<input type="email" />

<label>Mensagem</label>
<textarea rows="10" cols="40" />
